.boton-wsp {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 25px;
  padding: 25px;
  box-sizing: border-box;
  transition: ease 0.3s;
}
@media only screen and (max-width: 600px) {
  .boton-wsp {
    left: auto;
  }
}
.boton-wsp:hover {
  transform: scale(1.1);
}
.boton-wsp .boton {
  width: 60px;
}
@media only screen and (max-width: 768px) {
  .boton-wsp .boton {
    width: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .boton-wsp .boton {
    width: 40px;
  }
}

/*--form--*/
/*--form11---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----anular div del host----*/
.disclaimer {
  display: none;
}

@font-face {
  font-family: "Popi";
  src: url("../font/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Popir";
  src: url("../font/poppins/Poppins-Regular.ttf");
}
#contacto .contacto .login-box label, #contacto .contacto .login-box input {
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
}

header {
  height: 141px;
  text-align: center;
  background-color: white;
  font-family: "popir";
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 2px solid orange;
}
header .info {
  text-align: center;
  background: rgb(241, 147, 70);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "popi";
  letter-spacing: 1px;
  border-bottom: 1px solid orange;
}
header .contenedor-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .contenedor-menu .nav-menu .nav-letter {
  color: rgb(8, 84, 116);
  font-family: "popir";
  font-weight: bolder;
  font-size: 1rem;
  text-shadow: 1px 5px 5px 4px black;
}
header .contenedor-menu .nav-menu .nav-letter:hover {
  transform: scale(1.1);
  color: black;
}
#inicio {
  scroll-margin: 140px;
  height: 700px;
  background-image: url(../imagenes/fondos-imagenes/fondo2.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#inicio .contenedor-inicio {
  font-weight: bolder;
  font-family: "popi";
  padding-top: 300px;
  color: rgb(1, 26, 29);
}
#inicio .contenedor-inicio h1 {
  text-align: center;
  width: 80%;
  padding: 5px;
  font-size: 3rem;
  background-color: rgba(245, 245, 245, 0.685);
  border-radius: 15% 20%/50% 10%;
}
#inicio .contenedor-inicio p {
  width: 90%;
  text-align: center;
  font-size: 1.1rem;
  background-color: rgba(245, 245, 245, 0.685);
  border-radius: 50% 30%/15% 20%;
  padding: 5px 10px;
}

#nosotros {
  scroll-margin: 150px;
  height: 550px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}
#nosotros .contenedor-nosotros1 {
  width: 50%;
  height: 400px;
  padding-left: 20px;
}
#nosotros .contenedor-nosotros1 h2 {
  font-family: "popi";
  color: rgb(8, 84, 116);
  font-size: 2rem;
}
#nosotros .contenedor-nosotros1 p {
  font-family: "popir";
  line-height: 50px;
}
#nosotros .contenedor-nosotros2 {
  width: 45%;
  text-align: center;
}
#nosotros .contenedor-nosotros2 img {
  padding-top: 10px;
  width: 80%;
  height: 300px;
}

#quehacemos {
  background-image: url(../imagenes/fondos-imagenes/fondo1.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  padding: 50px;
  scroll-margin: 140px;
  text-align: center;
  color: white;
}
#quehacemos .quehacemos-box {
  background-color: rgba(128, 128, 128, 0.555);
}
#quehacemos .quehacemos-box h2 {
  padding-top: 10px;
  width: 97%;
  font-family: "popi";
  color: orange;
  font-size: 2rem;
  text-align: center;
}
#quehacemos .quehacemos-box p {
  margin-top: 30px;
  font-family: "popi";
  line-height: 40px;
  font-size: 1.2rem;
}
#quehacemos .quehacemos-box .quehacemos {
  margin-top: 70px;
  text-align: left;
}
#quehacemos .quehacemos-box .quehacemos h5 {
  font-family: "popi";
  color: orange;
}
#quehacemos .quehacemos-box .quehacemos p {
  font-family: "popir";
  color: white;
  font-size: 1.1rem;
  padding-bottom: 20px;
}

#proyectos {
  height: 1100px;
  scroll-margin: 140px;
  padding: 20px;
  background-color: white;
  padding-bottom: 40px;
}
#proyectos h2 {
  color: rgb(8, 84, 116);
  font-family: "popi";
  font-size: 1.6rem;
  margin: 30px 30px;
}
#proyectos .proyectos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#proyectos .proyectos .proyecto-1 {
  width: 30%;
}
#proyectos .proyectos .proyecto-2 {
  width: 50%;
  font-family: "popir";
  font-size: 1.1;
  line-height: 40px;
}
#proyectos .proyecto-comunicate {
  margin: 40px;
}
#proyectos .proyecto-comunicate h5 {
  margin-top: 30px;
  padding: 30px;
  font-family: "popi";
  color: rgb(8, 84, 116);
}
#proyectos .proyecto-comunicate .proyecto-box {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
#proyectos .proyecto-comunicate .proyecto-box .numeracion {
  display: flex;
  justify-content: start;
  align-items: center;
}
#proyectos .proyecto-comunicate .proyecto-box .numeracion img {
  padding-right: 30px;
}
#proyectos .proyecto-comunicate .proyecto-box .numeracion p {
  font-family: "popi";
  font-size: 0.9em;
}
#proyectos .proyecto-comunicate .proyecto-box .proyecto-1 {
  width: 100%;
}

#contacto {
  scroll-margin: 140px;
  height: 600px;
  padding: 30px;
  background-image: url(../imagenes/fondos-imagenes/paneles3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#contacto .contactanos {
  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 30px;
  padding-left: 50px;
  font-family: "popi";
  font-size: 2rem;
  color: orange;
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 768px) {
  #contacto .contactanos {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  #contacto .contactanos {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
}
#contacto .contacto {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
  font-family: "popi";
  letter-spacing: 1px;
}
#contacto .contacto .login-box {
  width: 60%;
  padding: 40px;
  margin-top: 4px;
  margin-right: 50px;
}
#contacto .contacto .login-box .user-box {
  position: relative;
}
#contacto .contacto .login-box input {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
  background: transparent;
}
#contacto .contacto .login-box label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
}
#contacto .contacto .login-box input:focus ~ label,
#contacto .contacto .login-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: orange;
  font-size: 0.8rem;
}
#contacto .contacto .login-box .textarea {
  height: 90px;
  font-family: "popir";
  color: black;
  font-size: 0.8rem;
}
#contacto .contacto .login-box .boton {
  background-color: orange;
  font-family: "popi";
  padding: 5px 270px;
  border: solid 1px #e9ad5f;
  border-radius: 10px;
  color: white;
}
#contacto .contacto .login-box .boton:hover {
  transform: scale(1.1);
  color: white;
}
#contacto .contacto .redes2 {
  background: rgba(155, 155, 155, 0.199);
  box-shadow: 0 8px 32px 0 rgba(116, 115, 114, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
}
#contacto .contacto .redes2 .sociales {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: "popi";
  font-size: 0.8rem;
  margin: 20px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(137, 137, 139, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5px 80px 5px 10px;
  border-radius: 10px;
}
#contacto .contacto .redes2 .sociales:hover {
  transform: scale(1.1);
  color: white;
}
#contacto .contacto .redes2 .sociales img {
  margin-right: 40px;
}

.grid-footer {
  background: #ffffff;
  z-index: 2;
}
.grid-footer .footer-padre {
  height: 130px;
  display: flex;
}
.grid-footer .footer-padre .logo-footer {
  width: 190px;
}
.grid-footer .footer-padre .logo-footer img {
  width: 70%;
  margin-top: 5px;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  .grid-footer .footer-padre .logo-footer img {
    visibility: hidden;
  }
}
@media only screen and (max-width: 768px) {
  .grid-footer .footer-padre .logo-footer {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .grid-footer .footer-padre .logo-footer {
    display: none;
  }
}
.grid-footer .footer-padre .footer-div2 {
  margin: 10px 1px 10px 50px;
  padding-right: 50px;
  padding-top: 10px;
  font-family: "popi";
  font-size: 0.7rem;
  color: black;
}
@media only screen and (max-width: 600px) {
  .grid-footer .footer-padre .footer-div2 {
    margin-left: 5px;
    padding-right: 20px;
  }
}
.grid-footer .footer-padre .footer-div2 .redes-footer {
  display: flex;
  align-items: center;
}
.grid-footer .footer-padre .footer-div2 .redes-footer .imagenes-redes {
  margin-right: 30px;
}
.grid-footer .footer-padre .contacto-p {
  padding-top: 20px;
  font-family: "popi";
  font-size: 0.7rem;
  color: black;
}
.grid-footer .footer-padre .contacto-p a {
  text-decoration: none;
  color: rgb(8, 84, 116);
}
.grid-footer .footer2 {
  align-items: center;
  height: 44px;
  width: 100%;
  background: #191919;
  padding-top: 10px;
  color: #777;
  font-size: 12px;
}
.grid-footer .footer2 a {
  text-decoration: none;
  color: rgb(197, 197, 197);
}
.grid-footer .footer2 a:hover {
  color: rgb(247, 116, 28);
}
@media only screen and (max-width: 600px) {
  .grid-footer .footer2 {
    height: 95px;
  }
}
@media only screen and (max-width: 768px) {
  .grid-footer .footer2 {
    height: 96px;
  }
}
.grid-footer .footer2 .copy {
  margin-left: 300px;
}
@media only screen and (max-width: 768px) {
  .grid-footer .footer2 .copy {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .grid-footer .footer2 .copy {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
