#contacto{
    max-width: 100%;
    scroll-margin: 140px; 
    height: 600px; 
    padding: 30px;   
    background-image: url(../imagenes/fondos-imagenes/paneles3.jpg); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include desktop{
        height: auto;        
    }
    @include tablet{
        height: auto; 
        background-size: 990px 600px;                 
    }   
    @include mobile{
        height: auto;  
        background-size: 500 600px;             
    }                   
    .contactanos{
        margin-top: 30px;
        margin-bottom: 0;
        padding-top: 30px;
        padding-left: 50px;
        font-family: 'popi';
        font-size: 2rem;    
        color: orange;    
        text-align: left;        
        background: nth($bg, 4);
       
    } 
    .contacto{             
        display: flex;
        background: nth($bg, 4);
        display: flex;
        justify-content: flex-start;
        align-items: center;    
        margin-bottom: 100px;
        font-family: 'popi';   
        letter-spacing: 1px; 
        @include mobile{
            display: inline;
        }       
        @include tablet{
            display: inline;
        }
        .login-box { 
            width: 60%;                            
            padding: 40px;    
            margin-top: 4px; 
            margin-right: 50px; 
            @include tablet{
                width: 90%;
            }       
            @include mobile{
                width: 90%;
            }
              
            .user-box {
                position: relative;
            }
            input {
                width: 100%;
                @extend %form;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid nth($colors, 2);
                outline: none;
                background: transparent;
            }
            label {
                position: absolute;
                top:0;
                left: 0;
                @extend %form;
                pointer-events: none;
                transition: .5s;
            }
            input:focus~label,
            input:valid~label {
                top: -20px;
                left: 0;
                color: orange;
                font-size: 0.8rem;           
            }
            .textarea{
                height: 90px;
                font-family: 'popir';
                color: black;
                font-size: 0.8rem;
            }
            .boton {
                background-color: orange;
                font-family: 'popi';
                padding: 5px 270px;
                border: solid 1px nth($colors, 11);
                border-radius: 10px;
                color: nth($colors, 6);
                &:hover{
                    transform: scale(1.1);
                    color: white;
                } 
                @include mobile{
                    padding: 5px 80px;
                } 
                @include tablet{
                    padding: 5px 100px;
                }          
            
            }
        } 
        .redes2{
            background: rgba(155, 155, 155, 0.199);
            box-shadow: 0 8px 32px 0 rgba(116, 115, 114, 0.37);
            backdrop-filter: blur( 5px );
            -webkit-backdrop-filter: blur( 11px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            display: flex;
            flex-direction: column;        
            .sociales{   
                display: flex; 
                align-items: center;
                text-decoration: none; 
                color: white;
                font-family: 'popi';
                font-size: 0.8rem;       
                margin: 20px;                
                background: rgba( 0, 0, 0, 0.8 );
                box-shadow: 0 8px 32px 0 rgba(137, 137, 139, 0.37);
                backdrop-filter: blur( 9px );
                -webkit-backdrop-filter: blur( 9px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                padding: 5px 80px 5px 10px;
                border-radius: 10px;  
                @include tablet{
                    
                }       
                @include mobile{
                   
                }
                &:hover{
                    transform: scale(1.1);
                    color: white;
                }             
                img{
                    margin-right: 40px;
                    
                }
            }
            
        }  
    
    }

}
