.grid-footer {
    background: #ffffff;   
    z-index: 2;    
    .footer-padre {
        height: 130px;
        display: flex;
        .logo-footer {
            width: 190px;            
            img {
                width: 70%;
                margin-top: 5px;
                padding: 5px;
                @include mobile {
                    visibility: hidden;
                }
            }

            @include tablet {
                display: none;
            }

            @include mobile {
                display: none;
            }           

        }
        .footer-div2 {
            margin: 10px 1px 10px 50px;
            padding-right: 50px;
            padding-top: 10px;
            font-family: 'popi';
            font-size: 0.7rem;            
            color: black;
            @include mobile {
                margin-left: 5px;
                padding-right: 20px;
                
            }
            .redes-footer {
                display: flex;
                align-items: center;
    
                .imagenes-redes {                    
                    margin-right: 30px;                  
                    
                }
            }
        }
        .contacto-p{                       
            padding-top: 20px;            
            font-family: 'popi';
            font-size: 0.7rem;
            color: black;
            a{
                text-decoration: none;
                color: rgb(8, 84, 116);
            }       
        } 
        
    }
    .footer2 {
        align-items: center;
        height: 44px;
        width: 100%;
        background: #191919;
        padding-top: 10px;        
        color: #777;
        font-size: 12px;
        a {
            text-decoration: none;
            color: nth($colors, 10);
    
            &:hover {
                color: nth($colors, 4);
            }
        }
        @include mobile {
            height: 95px;
        }
        @include tablet {
            height: 96px;
        }        
    
        .copy {
            margin-left: 300px;
    
            @include tablet {
                margin-left: 0;
            }
    
            @include mobile {
                margin-left: 0;
            }
        }
    
    }

}
