
header{   
    max-width: 100%;   
    height: 141px;    
    text-align: center;  
    background-color: white;     
    font-family: 'popir';
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 2px solid orange;
    .info{
        text-align: center;
        background: nth($bg, 2);    
        font-size: 0.8rem;
        font-weight: bold;
        font-family: 'popi';            
        letter-spacing: 1px;
        border-bottom: 1px solid orange;
        
    }         
    .contenedor-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile{
            justify-content: start;
            padding: 0;
            margin: 0;
        }
    
        .nav-menu .nav-letter {
            color: rgb(8, 84, 116);
            font-family: 'popir';
            font-weight: bolder;
            font-size: 1rem;
            text-shadow: 1px 5px 5px 4px black;    
            &:hover {
                transform: scale(1.1);
                color: black;
            }
        }        
    }
    .logo{
        @include mobile{        
            width: 40%;            
        }
    }
    
}
    
        
        
    
    
