
header{      
    height: 140px;    
    text-align: center;  
    background-color: white;     
    font-family: 'popir';
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .info{
        text-align: center;
        background: nth($bg, 2);    
        font-size: 0.8rem;
        font-weight: bold;
        font-family: 'popir';            
        letter-spacing: 1px;
        border-bottom: 1px solid orange;
        
    }
    .contenedor-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-menu .nav-letter{
            color: rgb(8, 84, 116);
            font-family: 'popir';
            font-weight: bolder;
            font-size: 1rem;
            text-shadow: 1px 5px 5px 4px black;
            &:hover{        
                transform: scale(1.1);
                color: black;
               }
        }
        
        
        
    }
    
}