header{   
    max-width: 100%;   
    height: 141px;    
    text-align: center;  
    background-color: white;     
    font-family: 'popir';
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 2px solid orange;
    .info{
        text-align: center;
        background: nth($bg, 2);    
        font-size: 0.8rem;
        font-weight: bold;
        font-family: 'popi';            
        letter-spacing: 1px;
        border-bottom: 1px solid orange;
        
    }         
    .contenedor-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        color: orange;
        @include tablet{                           
            text-align: right;                    
            font-size: 1rem;
            font-weight: bolder;            
            max-height: 100%;
            background-color: white;
            position: fixed;
            width: 50%;
            right: 0;
            top: 140px;
            overflow-y: scroll;
            transition: all .4s ease;
            position: fixed;
            border: 1px solid orange;
            
            a{
                border-bottom: 1px solid orange;
                padding: 1px 20px;
                
                img{
                    padding: 15px 40px ;
                }
                
            }
        }
        @include mobile{
            text-align: right;                    
            font-size: 1rem;
            font-weight: bolder;            
            max-height: 100%;
            background-color: white;
            position: fixed;
            width: 70%;
            right: 0;
            top: 140px;
            overflow-y: scroll;
            transition: all .4s ease;
            position: fixed;
            border: 1px solid orange;
            a{
                border-bottom: 1px solid orange;
                padding: 3px 20px;
                img{
                    padding: 15px 30px ;
                }
            }
        }
    
        .nav-menu .nav-letter {
            color: rgb(8, 84, 116);
            font-family: 'popir';
            font-weight: bolder;
            font-size: 1rem;
            text-shadow: 1px 5px 5px 4px black;    
            &:hover {
                transform: scale(1.1);
                color: black;
            }
            .icono-mobile{
                display: none;
                @include tablet{
                    display: inline;
                }
                @include mobile{
                    display: inline;
                }
            }
        }        
    }
    .logo{
        @include mobile{        
            width: 40%;            
        }
    }
    
}
    
        
        
    
    
