#quehacemos{
    background-image: url(../imagenes/fondos-imagenes/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;    
    height: 700px;
    padding: 50px;    
    scroll-margin: 190px;    
    text-align: center;
    color: white;
    .quehacemos-box{
        background-color: rgba(128, 128, 128, 0.555);
        h2{
            padding-top: 10px;
            width: 97%;
            font-family: 'popi';
            color: orange;
            font-size: 2rem;  
            text-align: center;
        }
        p{
            margin-top: 30px;
            font-family: 'popi'; 
            line-height: 40px;
            font-size: 1.2rem;
        }   
        
        .quehacemos{        
            margin-top: 70px;
            text-align: left;
            h5{
                font-family: 'popi';
                color: orange,
            }
            p{
                font-family: 'popir';
                color: white;
                font-size: 1.1rem;
                padding-bottom: 20px;
            }
            
        }
    }
}
