%flex{
    display: flex;
    text-align: center;
}
%bg-img{
    background-size: cover;
    background-position: center;
    grid-area: main;
}
%form{
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
}
%border{
    border: 2px black solid;
    background-color: rgba(0, 0, 0, 0.877);
}